/* Añadir alimentos */
.add a{
    /* margin-left: 2em; */
    text-decoration: none;
    /* font-weight: bold; */
    color: inherit;
}
.add{
    margin-left: 5%;
}

.resultado{
    margin-left: 5%;
}

.food{
    margin-left: 5%;
}

.resultados{
    border: 2px solid #3cbb95;
    width: 20%;
}

.linea{
    height: 1px;
    background-color: #3cbb95;
}

.resultados p{
    text-align: center;
}

.botonEnviar{
    text-decoration: none;
    padding: 5px;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    background-color: #3cbb95;
    border-radius: 6px;
    border: 2px solid #3cbb95;
}
.botonEnviar:hover{
    color: #3cbb95;
    background-color: #ffffff;
  }

.add-image-ejer{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/food.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    width: 100%;
    height: 50vh;
    box-shadow: 5px 6px 10px 7px rgba(0,0,0,0.5);
}

.add-image-ali{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/food.jpg);
    background-size: cover;
     background-position: center; 
    background-repeat: none;
    width: 100%;
    height: 40vh;
    box-shadow: 5px 6px 10px 7px rgba(0,0,0,0.5);
}

/* Buscar alimentos */

.wrapper{
    margin: 2em auto ;
    width: 30%;
    /* background: #DFDFDF; */
    border-radius: 5px;
  }
.wrapper .search-input{
    background: #DFDFDF;
    /* width: 100%; */
    width: auto;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
    height: 2em;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    /* padding: 0 0 0 20px; */
    /* padding-left: 20px; */
    font-size: 0.9em;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }

input+ul{

    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* padding: 0; */
    /* border: 1px solid white; */
    /* background-color: #DFDFDF; */

} 
input+ul li{
    margin: 0;
    list-style: none;
    /* padding: 0 0 0 20px; */
    width: 100%;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    /* color: white; */
    /* background-color: #DFDFDF; */
}

.wrapper li:hover{
    background: #efefef;
}
.search-input .icon{
    /* border: 1px solid black; */
    position: absolute;
    right: 2px;
    top: 3px;
    background-image: url(../images/search2.png);
    background-size: cover;
    background-position: center;
    height: 25px;
    width: 25px;
    /* text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff; */
    cursor: pointer;
  }