html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* height: 100%; */
}
/* Contenedor general */

.back-image{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/food2.jpg);
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-repeat: none;
    width: 100%;
    height: auto;
    color: inherit;
    box-shadow: 0.1em 0.3em 0.3em rgba(0,0,0,0.5);
}


.container{
    width: 100%;
    display: flex;
    color: inherit;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

/* Cabezera */

header{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-areas: '. tit tit user nav .';
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #E3E3E3;                      */
    box-shadow: 0 0 0.4em rgba(0,0,0,0.2);
    color:inherit;
}

header h2{
    /* border: 1px solid white; */
    width: auto;
    grid-area: tit;
}

header h2 a{
    text-decoration: none;
    color: inherit;
}

header .msg{
    grid-area: user;
    /* margin-right: -15em; */
    /* border: 1px solid black; */
    font-size: 0.7em;
}

/* Nav */
nav{
    /* border: 1px solid white; */
    height: 100%;
    grid-area: nav;
    width: auto;
    display: flex;
    align-content: center;
    color:inherit;
}

.lines{
    /* border: 1px solid white; */
    display: none;
}

header ul{
    /* border: 1px solid white; */
    color:inherit;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
header li{
    height: 100%;
    /* border: 1px solid white; */
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

nav a{
    /* border: 1px solid white; */
    height: 100%;
    width: 100%;
    padding: 0 0.8em;
    text-decoration: none;
    color:inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}

a p+div{
    width: 2%;
    position: relative;
    top: -5px;
    background-color: grey;
    transition: width 0.7s, height 4s;
}

a .active{
    width: 80%;
    height: 2px;
}

nav a:hover div{
    width: 80%;
    height: 2px;
}

/* Boton modo noche */
.night{
    padding: 0;
}
.night img{
    max-width: 50px;
    padding: 0;
    /* background-color: inherit; */
}

/* Modo noche y claro */

.nightmode{
    background-color: #0f121f;
    color: white;
}
.lightmode{
    background-color:white;
    color: grey;
}

/* Estilo index.php */

.small-back-image{
    padding: 2em 0;
    display: flex;
}

.mensaje{
    margin: 0 10%;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mensaje h1{
    display: inline-block;
    margin: 0 0.2em;
    color: black;
    animation: pop;
    animation-duration:2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;  
}

.mensaje p{
    width: 80%;
    margin: 1em auto;
    color: white;
}

.mensaje a{
    width: 30%;
    margin:0 auto;
    border: 1px solid white;
    padding: 0.5em;
    text-decoration: none;
    color: white;
    border-radius: 2em;
}

.small-back-image .info{
    margin: 0 auto;
    width: 80%;
}

#segundo{animation-delay:1s;}
#tercero{animation-delay:2s;}
#ultimo{animation-delay:3s;}


.resumen{
    position: relative;
    bottom: 60px;
    margin-left: 20%;
    width: 40%;
    display: inline-block;
    /* border:1px solid black; */
}
.grafica{
    position: relative;
    right: -50px;
    margin-right: 5%;
    /* border:1px solid black; */
    display: inline-block;
    /* width: 40%; */
}
.grafica img{
    margin: 0;
    height: 250px;
    width:250px;
}

/*Estilo de la tabla*/
table{
    height:15em;
    width: 40em;
    border-collapse: collapse;
    padding: 0.8em 0.8em;
    margin: 2em auto 0;
    font-size: 0.9em;
}

table td{
    border-bottom: 1px solid black;
    margin: 5px;
    padding: 8px;
}


/* footer */
  footer{
    width: 100%;
    margin: 4em 0 0;
    height: auto;
    padding:  0.8em 0;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    font-size: 0.8em;
}

.contacto{

    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contacto div{
    margin: 0.5em 3em;
}

.redes a{
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0.2em 0;
}

.redes  img{
    max-width: 30px;
    margin: 0 1em 0 0;
    min-width: 20px;
            
}

.preguntas a{
    margin: 1em 0;
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
}

.legal a{
    margin: 1em 0;
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
}

footer p{
    text-align: center;
    width: 80%;
    font-size: 0.8em;
    margin: 0 auto;
}

/* Clases para el formulario */

input + p{
    font-family: arial;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 2em;
    color: #C26865;
    opacity: 0;
    height: 0;
  }
  input.invalid +p{
    opacity: 1;
    height: auto;
  }
.register  input.valid{
    border-color: green;
  }

.register  input.invalid{
    border-color: #EC1D18;
  }

  /* Estilo del formulario */
.register form{
    padding:0 1em 0;
    border-radius: 0.5em;
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }
  
.register  input {
      width: 80%;
      padding: 0.8em 1em;
      margin: 0.2em 0;
      display: inline-block;
      border: 2px solid #777;
      outline: none !important;
      border-radius: 2em;
      box-sizing: border-box;
      background-color: #DFDFDF;
      font-weight: bold;
  }

.register  button{
    clear: both;
    margin: 0.4em auto;
    width: auto;
    display: block;
    background-color: #777;
    color: white;
    padding: 0.6em 0.8em;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0.1em 0.3em 0.3em rgba(0,0,0,0.2);
} 


/* other form */

.fullscreen-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(90, 90, 90, 0.5);
    /* z-index: 9999; */
  }

.other-form{
    width: 40%;
    height: 40vh;
    margin: 0 auto;
    background-color: inherit;
    border-radius: 5px;
}

.other-form form{
    width: 100%;
    margin: 30vh auto;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.other-form form input{
    width: 80%;
    margin: 0.5em auto;
    border: 2px solid #777;
    outline: none !important;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #DFDFDF;
    font-weight: bold;
    padding: 0.4em 1em;
}

.other-form form button{
    width: 20%;
    margin: 0 auto;
    background-color: gainsboro;
    color: white;
    padding: 0.6em 0.8em;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0.1em 0.3em 0.3em rgba(0,0,0,0.2);
}


/* Clases genericas */

/* .contenido{
    width: 100%;
} */
.redirect{
    text-align: center;
    font-size: 0.9em;
}
.redirect a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
.msg{
    text-align: center;
    color: inherit;
    font-weight: bold;
}

.tit{
    text-align: center;
}

.mgtop{
    margin: 2em 0 0 0;
    padding: 0;
}

.content{
    width: 80%;
    margin: 4em auto 0;
    color: inherit;
}



/* Ajuste para pantallas medianas */

@media screen and (max-width: 800px){
.back-image{
    background-image: none;
    box-shadow: none;
}
.small-back-image{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/food2.jpg);
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-repeat: none;
    width: 100%;
    /* height: auto; */
    color: white;
    box-shadow: 0.3em 0.3em 0.6em rgba(1,1,1,1);
}

.mensaje a{
    width: 90%;
}

}



/* Ajustes para pantallas pequeñas */
@media screen and (max-width: 600px){

    header ul{
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 90%;
        top: 11vh;
        right: 100%;
        margin: 0;
        padding: 0;
    }
    header li{
        width: 100%;
        height: 50px;
        /* padding: 0; */ 
    }

    a .active{
        width: 20%;
        height: 2px;
    }
    
    nav a:hover div{
        width: 20%;
        height: 2px;
    }
    
    
    .lines{
        width: auto;
        /* border: 1px solid white; */
        display: block;
        align-self: center;
        cursor: pointer;
    } 
    .lines div{
        width: 25px;
        height: 2px;
        background: grey;
        display: block;
        margin: 5px auto;
    }

    .night{
        padding: 0.2em 0;
    }

    .register form{
        width: 90%;
    }

    table{
        width: 80%;
    }

    .wrapper{
        width: 70%;
      }

    /* clases para las animaciones */

    .animate{
        animation: mostrar 0.5s linear forwards;
    }
    .animateout{
        animation: ocultar 0.5s linear forwards;
    }

    .toggle .line1 {
        animation: line1 0.3s linear forwards;
    
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        animation: line3 0.3s linear forwards;
    }

    .ocultar{
        display: none;
      }
}


/* Animaciones */

@keyframes line1{
    from{
        transform: 0;
    }to{
        transform: rotate(-45deg) translate(-5px, 5px);
    }
}
@keyframes line3{
    from{
        transform: 0;
    }to{
        transform: rotate(45deg) translate(-5px, -5px);
    }
}

@keyframes mostrar{
    from{
        transform: translateX(0);
    }to{
        transform: translateX(100%);
    }
}
@keyframes ocultar{
    from{
        transform: translateX(100%);
    }to{
        transform: translateX(0);
    }
}


@keyframes pop{
    from{
        color: black;
    }to{
        color: white;
    }
}